*.Rproj
*.Rproj.user
.Rproj.user
*.zip
*.gz
build*
simulations/*

# specific R files
.Rhistory
inst/doc
simulation_*
older_functions/
tests/testthat/simulations/


# my folders
slides/
data/raw-data/
docs
**/.quarto/
